{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>About Us</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon
================================================== -->
  <link rel="icon" type="image/png" href="{% static '/imagesCertified/Certified Appraisal-1' %}">

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static '/plugins/bootstrap/bootstrap.min.css' %}">
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/1cadc3650a.js" crossorigin="anonymous"></script>
  <!-- Animation -->
  <link rel="stylesheet" href="{% static '/plugins/animate-css/animate.css' %}">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="{% static '/plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static '/plugins/slick/slick-theme.css' %}">
  <!-- Colorbox -->
  <link rel="stylesheet" href="{% static '/plugins/colorbox/colorbox.css' %}">
  <!-- Template styles-->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>

<body>
  <div class="body-inner">
    <!-- Header start -->
    <header id="header" class="header-one">
      <div class="bg-white">
        <div class="container">
          <div class="logo-area">
            <div class="row align-items-center justify-content-center">
              <div>
                <a href="/">
                  <img loading="lazy" src="{% static '/images/Certified Appraisal-1.png' %}" alt="Certified Appraisal"
                    width="150px">
                </a>
              </div><!-- logo end -->

              <div class="header-right">
                <ul class="top-info-box">
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                        <p class="info-box-title">Call Us</p>
                        <p class="info-box-subtitle"><a href="tel:(714)-853-3313">(714)-853-3313</a></p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                        <p class="info-box-title">Email Us</p>
                        <p class="info-box-subtitle"><a href="mailto:alanyeon@att.net">alanyeon@att.net</a></p>
                      </div>
                    </div>
                  </li>
                  <li class="header-get-a-quote">
                    <a class="btn btn-primary" href="/contact_page">Get A Quote</a>
                  </li>
                </ul><!-- Ul end -->
              </div><!-- header right end -->
            </div><!-- logo area end -->
          </div><!-- Row end -->
        </div><!-- Container end -->
      </div>

      <div class="site-navigation">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                  aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbar-collapse" class="collapse navbar-collapse justify-content-center">
                  <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/services_page">Services</a>
                    </li>
                    <li class="nav-item dropdown active">
                      <a class="nav-link" href="/about_us_page">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/reviews_page">Reviews</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/contact_page">Contact</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <!--/ Col end -->
          </div>
          <!--/ Row end -->
        </div>
        <!--/ Container end -->
      </div>
      <!--/ Navigation end -->
    </header>
    <!--/ Header end -->

    <section id="news" class="news">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2 class="section-sub-title-two mb-2">Who are we?</h2>
            <hr>
            <h5>Our Mission Statement:</h5>
            <h2>"WE WANT TO PROVIDE THE HIGHEST QUALITY APPRAISALS TO HELP YOU SUCCEED IN YOUR REAL ESTATE ENDEAVORS!"
            </h2>
            <hr>
            <img class="rounded mx-auto d-block" src="{% static '/images/IMG_0132.jpeg' %}" alt="alan_yeon_photo"
              style="width: 500px;">
            <br>
            <p>Alan Yeon has appraised tens of thousands of homes for lenders & homeowners in the greater Southern
              California Region (6 counties) for over 30
              years. His passion was to always make sure that the job is done with 110% accuracy and believed that there
              are no
              such things as shortcuts when it comes to accurate home valuations! With our experience & knowledge of
              appraisals throughout all of Southern California, Certified Appraisal
              is a company you can trust.</p>
            <br>
            <h4>"You'd be surprised to see how many other appraisers choose to take short cuts. It shows in their work.
              I
              pride myself on having high standards. When I do so, I have no regrets in my work and can be
              proud of the work I have accomplished."</h4>
            <p>Alan Yeon - Chief Officer Appraiser</p>
          </div>
        </div>
        <!--/ Title row end -->

        <div class="general-btn text-center mt-4">
          <p>Still have questions?</p>
          <a class="btn btn-primary" href="/contact_page">Contact Us</a>
        </div>

      </div>
      <!--/ Container end -->
    </section>
    <!--/ News end -->

    <footer id="footer" class="footer bg-overlay">
      <div class="footer-main">
        <div class="container">
          <div class="mx-auto mb-5">
            <img class="footer-img" loading="lazy"
              src="{% static '/images/Certified Appraisal-logos_transparentCROP.png' %}" alt="Constra">
          </div>
          <div class="row justify-content-between">
            <div class="col-lg-6 col-md-6 footer-widget footer-about">
              <h3 class="widget-title">About Us</h3>
              <p class="mt-4">We have been appraising SoCal real estate since 1991! No matter what type of home you
                have, our ongoing analysis of local real estate trends and education as licensed appraisers make us
                qualified to provide home valuations in Ventura, Orange, San Bernardino, Riverside, Los Angeles, San
                Diego Counties. Give us a call to consult with our expert appraisers today.
              </p>
            </div><!-- Col end -->

            <div class="col-lg-6 col-md-6 footer-widget mt-5 mt-md-0">
              <h3 class="widget-title">Working Hours</h3>
              <div class="working-hours">
                We work 7 days a week, so don't hesitate to contact us during our business hours/holidays.
                <br><br> Everyday including Holidays: <span class="text-right">9:00am - 5:00pm </span>
              </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Footer main end -->

      <!-- Javascript Files
  ================================================== -->

      <!-- initialize jQuery Library -->
      <script src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
      <!-- Bootstrap jQuery -->
      <script src="{% static '/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
      <!-- Slick Carousel -->
      <script src="{% static '/plugins/slick/slick.min.js' %}"></script>
      <script src="{% static '/plugins/slick/slick-animation.min.js' %}"></script>
      <!-- Color box -->
      <script src="{% static '/plugins/colorbox/jquery.colorbox.js' %}"></script>

      <!-- shuffle -->
      <script src="{% static '/plugins/shuffle/shuffle.min.js' %}" defer></script>

      <!-- Google Map API Key-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
      <!-- Google Map Plugin-->
      <script src="{% static '/plugins/google-map/map.js' %}" defer></script>

      <!-- Template custom -->
      <script src="{% static '/js/script.js' %}"></script>

  </div><!-- Body inner end -->
</body>

</html>