{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Reviews</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon
================================================== -->
  <link rel="icon" type="image/png" href="{% static '/imagesCertified/Certified Appraisal-1.png' %}">

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static '/plugins/bootstrap/bootstrap.min.css' %}">
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/1cadc3650a.js" crossorigin="anonymous"></script>
  <!-- Animation -->
  <link rel="stylesheet" href="{% static '/plugins/animate-css/animate.css' %}">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="{% static '/plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static '/plugins/slick/slick-theme.css' %}">
  <!-- Colorbox -->
  <link rel="stylesheet" href="{% static '/plugins/colorbox/colorbox.css' %}">
  <!-- Template styles-->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>

<body>
  <div class="body-inner">
    <!-- Header start -->
    <header id="header" class="header-one">
      <div class="bg-white">
        <div class="container">
          <div class="logo-area">
            <div class="row align-items-center justify-content-center">
              <div>
                <a href="/">
                  <img loading="lazy" src="{% static '/images/Certified Appraisal-1.png' %}" alt="Certified Appraisal"
                    width="150px">
                </a>
              </div><!-- logo end -->

              <div class="header-right">
                <ul class="top-info-box">
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                        <p class="info-box-title">Call Us</p>
                        <p class="info-box-subtitle"><a href="tel:(714)-853-3313">(714)-853-3313</a></p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                        <p class="info-box-title">Email Us</p>
                        <p class="info-box-subtitle"><a href="mailto:alanyeon@att.net">alanyeon@att.net</a></p>
                      </div>
                    </div>
                  </li>
                  <li class="header-get-a-quote">
                    <a class="btn btn-primary" href="/contact_page">Get A Quote</a>
                  </li>
                </ul><!-- Ul end -->
              </div><!-- header right end -->
            </div><!-- logo area end -->
          </div><!-- Row end -->
        </div><!-- Container end -->
      </div>

      <div class="site-navigation">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                  aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbar-collapse" class="collapse navbar-collapse justify-content-center">
                  <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/services_page">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/about_us_page">About Us</a>
                    </li>
                    <li class="nav-item dropdown active">
                      <a class="nav-link" href="/reviews_page">Reviews</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="/contact_page">Contact</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <!--/ Col end -->
          </div>
          <!--/ Row end -->
        </div>
        <!--/ Container end -->
      </div>
      <!--/ Navigation end -->
    </header>
    <!--/ Header end -->

    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h4>Certified Appraisal is your best option in home valuations. Don't look any further!!!</4>
              <h2 class="section-sub-title mb-4">READ WHAT OUR PREVIOUS CUSTOMERS HAD TO SAY...</h2>
          </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="quote-item quote-border mt-5">
              <div class="quote-text-border">
                "Thanks for all your help Certified Appraisal with my refinancing. I definitely recommend Certified
                Appraisal. There services are super fast with quality.."
              </div>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb"
                  src="{% static '/images/blank-profile-picture-973460_1280.webp' %}" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">James Williamson</h3>
                  <span class="quote-subtext">Previous Customer</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div><!-- End col md 4 -->

          <div class="col-lg-4 col-md-6">
            <div class="quote-item quote-border mt-5">
              <div class="quote-text-border">
                "I have always been trying to find a place for a premium valuation home service with a good rate and a
                good turnaround time. This is the place!"
              </div>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb"
                  src="{% static '/images/blank-profile-picture-973460_1280.webp' %}" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Priscilla Park</h3>
                  <span class="quote-subtext">Previous Customer</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div><!-- End col md 4 -->

          <div class="col-lg-4 col-md-6">
            <div class="quote-item quote-border mt-5">
              <div class="quote-text-border">
                "My overall experience with Certified Appraisal couldn't have been more smooth. You could tell they want
                to put quality into their work!"
              </div>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb"
                  src="{% static '/images/blank-profile-picture-973460_1280.webp' %}" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Janine Vasquez</h3>
                  <span class="quote-subtext">Previous Customer</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div><!-- End col md 4 -->

        </div><!-- Content row end -->
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="quote-item quote-border mt-5">
              <div class="quote-text-border">
                "I was able to get a chance to speak with Alan and he was very informative and helpful throughout the
                entire process!"
              </div>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb"
                  src="{% static '/images/blank-profile-picture-973460_1280.webp' %}" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">William Jones</h3>
                  <span class="quote-subtext">Previous Customer</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div><!-- End col md 4 -->

          <div class="col-lg-6 col-md-6">
            <div class="quote-item quote-border mt-5">
              <div class="quote-text-border">
                "It's hard to find good appraisers, let alone a appraiser than you can trust. Alan and his team do an
                amazing job at helping me feel that their valuation is highly credible!"
              </div>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb"
                  src="{% static '/images/blank-profile-picture-973460_1280.webp' %}" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Anni Lombardi</h3>
                  <span class="quote-subtext">Previous Customer</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div><!-- End col md 4 -->
        </div>
        <div class="row mx-auto mt-5">
          <div class="col-md-12">
            <h3 class="column-title">Write us a review!</h3>
            <!-- contact form works with formspree.io  -->
            <!-- contact form activation doc: https://docs.themefisher.com/constra/contact-form/ -->
            <form id="contact-form" action="https://formspree.io/f/xoqrydlz" method="POST" role="form">
              <div class="error-container"></div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Name</label>
                    <input class="form-control form-control-name" name="name" id="name" placeholder="John Doe"
                      type="text" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Email</label>
                    <input class="form-control form-control-email" name="email" id="email"
                      placeholder="johndoe@gmail.com" type="email" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <input class="form-control form-control-subject" name="number" id="number"
                      placeholder="(213)-999-999" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Review:</label>
                <textarea class="form-control form-control-message" name="message" id="message"
                  placeholder="Certified Appraisal rocks!" rows="4" required></textarea>
              </div>
              <div class="text-right"><br>
                <button class="btn btn-primary solid blank" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div><!-- Container end -->
    </section><!-- Main container end -->

    <footer id="footer" class="footer bg-overlay">
      <div class="footer-main">
        <div class="container">
          <div class="mx-auto mb-5">
            <img class="footer-img" loading="lazy"
              src="{% static '/images/Certified Appraisal-logos_transparentCROP.png' %}" alt="Constra">
          </div>
          <div class="row justify-content-between">
            <div class="col-lg-6 col-md-6 footer-widget footer-about">
              <h3 class="widget-title">About Us</h3>
              <p class="mt-4">We have been appraising SoCal real estate since 1991! No matter what type of home you
                have, our ongoing analysis of local real estate trends and education as licensed appraisers make us
                qualified to provide home valuations in Ventura, Orange, San Bernardino, Riverside, Los Angeles, San
                Diego Counties. Give us a call to consult with our expert appraisers today.
              </p>
            </div><!-- Col end -->

            <div class="col-lg-6 col-md-6 footer-widget mt-5 mt-md-0">
              <h3 class="widget-title">Working Hours</h3>
              <div class="working-hours">
                We work 7 days a week, so don't hesitate to contact us during our business hours/holidays.
                <br><br> Everyday including Holidays: <span class="text-right">9:00am - 5:00pm </span>
              </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Footer main end -->

      <!-- Javascript Files
  ================================================== -->

      <!-- initialize jQuery Library -->
      <script src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
      <!-- Bootstrap jQuery -->
      <script src="{% static '/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
      <!-- Slick Carousel -->
      <script src="{% static '/plugins/slick/slick.min.js' %}"></script>
      <script src="{% static '/plugins/slick/slick-animation.min.js' %}"></script>
      <!-- Color box -->
      <script src="{% static '/plugins/colorbox/jquery.colorbox.js' %}"></script>

      <!-- shuffle -->
      <script src="{% static '/plugins/shuffle/shuffle.min.js' %}" defer></script>

      <!-- Google Map API Key-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
      <!-- Google Map Plugin-->
      <script src="{% static '/plugins/google-map/map.js' %}" defer></script>

      <!-- Template custom -->
      <script src="{% static '/js/script.js' %}"></script>

  </div><!-- Body inner end -->
</body>

</html>